[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gym = "==0.21.0"
graphviz = "*"
matplotlib = "*"

[dev-packages]

[requires]
python_version = "3.10"
python_full_version = "3.10.6"
